# Python-Data Structure

Q1.What are data structures, and why are they important?
  - Lists, tuples and sets are the examples of data structure and these can be used to organize and storing data in Python. Importance- They provide well organized ways to store and modify data, enabling efficient code and improved problem-solving.

Q2. Explain the difference between mutable and immutable data types with examples?
  - Mutable data type: We can change the data stored in Mutable data type. For example, list is a mutable data type and we can easily change a list with different functions like, append or remove.
  Immutable data type: We cannot change the data stored on immutable data type. For example, tuple is an immutable data type and we cannot change easily a tuple.

Q3. What are the main differences between lists and tuples in Python?
  - A list is a Mutable data type: We can change the data stored in Mutable data type. For example, list is a mutable data type and we can easily change a list with different functions like, append or remove. Tuple is an Immutable data type: We cannot change the data stored on immutable data type.

Q4. Describe how dictionaries store data.
  - In Python, dictionaries are used to store data as key-value pairs. A key within a dictionary must be unique and immutable.e.g., Num, string or tuple, while values can be of any data type and can be duplicated.

Q5. Why might you use a set instead of a list in Python?
  - We know that a set in Python is an unordered collection of unique elements. On the other hand, a list is an ordered collection that can also contain duplicates. These are the some of the reasons where we can use a set over a list: Set operations, ensuring uniqueness, removing duplicates, Ignoring order:

Q6. What is a string in Python, and how is it different from a list?
  - In Python, string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything like integer, float, string, etc. Moreover, In Python a string can contain a textual representation of a list, but it does not inherently store a list as a data structure.

Q7. How do tuples ensure data integrity in Python?
  - Due to immutable nature, Tuples ensure data integrity in Python. Once a tuple is created, its elements cannot be modified, added, or removed.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
  - In Python, a hash table is a data structure that stores key-value pairs. Here, each key is processed through a hash function to determine the index in an array where its associated value is stored.

Q9. Can lists contain different data types in Python?
  - Yes, in Python lists can contain items of different data types. A single list can hold a combination of floats, integers, strings, Booleans, and even, tuples, or dictionaries.

Q10. Explain why strings are immutable in Python?
  - Strings are immutable. It means, their value cannot be changed or modified after creation.

Q11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries in Python offer fast data retrieval. dictionaries use hash tables for quick access to values based on keys.

Q12. Describe a scenario where using a tuple would be preferable over a list.
  - Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change.

Q13. How do sets handle duplicate values in Python?
  - In Python, sets are designed to store only unique elements. When attempting to add a duplicate value to a set, it is automatically ignored, and the set remains unchanged.

Q14. How does the “in” keyword work differently for lists and dictionaries?
  - In Python, keyword is used to check whether an element exists in a collection, but it behaves differently for lists and dictionaries in Python. For lists, in checks if a specific value exists in the list. For example,my_list = [10, 20, 30, 40]
  print(20 in my_list)  # True
  print(50 in my_list)  # False

Q15. Can you modify the elements of a tuple? Explain why or why not?
  - Tuples are immutable, their values cannot be changed after they are created. Thus, you cannot directly modify the elements of a tuple in Python. Attempting to modify a tuple will give an Error.

Q16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for representing hierarchical or multi-layered data structures. We can use nested dictionaries to organize employee records.

  - Q17. Describe the time complexity of accessing elements in a dictionary. The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

Q18. In what situations are lists preferred over dictionaries?
  - If ordering, indexing, and sequential operations are important, we can use Lists over dictionaries. For quick data look-ups, configurations, or caches, favour dictionaries.

Q19. Why are dictionaries considered unordered, and how does that affect
data retrieval?
  - Dictionaries in Python are considered unordered because they store key-value pairs based on a hash table, rather than maintaining a strict sequence like lists do.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists access elements by numerical index if we talk about data retrieval. On the other hand, dictionaries access elements by unique keys. We know that Lists are ordered, thus, accessing elements by position is efficient in lists. While, Dictionaries are unordered but it provides fast lookup times based on keys.

# Practical Questions

In [ ]:
#Q1. Write a code to create a string with your name and print it.
name = "Pawan"
print(name)

Pawan

In [ ]:
#Q2.  Write a code to find the length of the string "Hello World".
x = "Hello World"
print(len(x))

11

In [ ]:
#Q3. Write a code to slice the first 3 characters from the string "Python
# Programming"
x = "Python Programming"
y = x[:3]
print(y)

Pyt

In [ ]:
#Q4. Write a code to convert the string "hello" to uppercase.
x = "hello"
y = x.upper()
print(y)

HELLO

In [ ]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I
# like apple"
x = "I like apple"
y = x.replace("apple", "orange")
print(y)

I like orange

In [ ]:
#Q6.  Write a code to create a list with numbers 1 to 5 and print it.
x = [1, 2, 3, 4, 5]
print(x)

[1, 2, 3, 4, 5]

In [ ]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].
x = [1, 2, 3, 4]
y = x.append(10)
print(x)

[1, 2, 3, 4, 10]

In [ ]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
x = ['a', 'b', 'c', 'd']
y = x[1]
print(y)

b

In [ ]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
x = [10, 20, 30, 40, 50]
y = x.reverse()
print(x)

[50, 40, 30, 20, 10]

In [1]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print
# it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [2]:
# Q12. Write a code to access the second-to-last element of the tuple ('red',
# 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
x = colors[-2]
print(x)

blue

In [4]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
x = min(my_tuple)
print(x)

5

In [7]:
# Q14. Write a code to find the index of the element "cat" in the tuple ('dog',
# 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
x = my_tuple.index('cat')
print(x)

1

In [8]:
# Q15. Write a code to create a tuple containing three different fruits and
# check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [9]:
# Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print
# it.
x = {'a', 'b', 'c'}
print(x)

{'c', 'a', 'b'}

In [10]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
x = {1, 2, 3, 4, 5}
y = x.clear()
print(x)

set()

In [14]:
#Q18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
x = {1, 2, 3, 4}
y = x.remove(4)
print(x)

{1, 2, 3}

In [15]:
#Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
x = set1.union(set2)
print("Union of the sets:", x)

Union of the sets: {1, 2, 3, 4, 5}

In [16]:
# Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3,
# 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
x = set1.intersection(set2)
print("Intersection of the sets:", x)

Intersection of the sets: {2, 3}

In [17]:
# Q21. Write a code to create a dictionary with the keys "name", "age", and
# "city", and print it
x = {
    "name": "Pawan",
    "age": 35,
    "city": "India"
}
print(x)

{'name': 'Pawan', 'age': 35, 'city': 'India'}

In [18]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the
#dictionary {'name': 'John', 'age': 25}.
x = {'name': 'John', 'age': 25}
x['country'] = 'USA'
print(x)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [19]:
#Q23. Write a code to access the value associated with the key "name" in the
#dictionary {'name': 'Alice', 'age': 30}.
person_info = {'name': 'Alice', 'age': 30}
name_value = person_info['name']
print("Name:", name_value)

Name: Alice

In [20]:
#Q24. Write a code to remove the key "age" from the dictionary
 #{'name': 'Bob', 'age': 22, 'city': 'New York'}
x = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del x['age']
print(x)

{'name': 'Bob', 'city': 'New York'}

In [21]:
#Q25.  Write a code to check if the key "city" exists in the dictionary
#{'name': 'Alice', 'city': 'Paris'}
x = {'name': 'Alice', 'city': 'Paris'}
if 'city' in x:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [22]:
# Q26. Write a code to create a list, a tuple, and a dictionary, and print them
# all.
x = [10, 20, 30, 40]
y = ('apple', 'banana', 'cherry')
z = {'name': 'Alice', 'age': 25, 'city': 'Paris'}
print("List:", x)
print("Tuple:", y)
print("Dictionary:", z)

List: [10, 20, 30, 40]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [29]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100,
#sort it in ascending order, and print the
#result.(replaced)
import random
x = random.sample(range(1, 101), 5)
sorted_numbers = sorted(x)
print(sorted_numbers)

[17, 19, 30, 31, 42]

In [30]:
#28. Write a code to create a list with strings and print the element
# at the third index.
x = ["apple", "banana", "cherry", "date", "elderberry"]
third_index_element = x[3]
print("Element at third index:", third_index_element)

Element at third index: date

In [31]:
#Q29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}
dict1.update(dict2)
print("Combined dictionary:", dict1)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [32]:
#Q30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print("Set:", string_set)

Set: {'banana', 'apple', 'cherry'}